.header {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;

  @media screen and (min-width: $bp-desktop) {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    width: 100%;
  }

  &__container {
    display: block;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      padding: 32px 0;
      gap: 240px;
      align-items: center;
      justify-content: center;
    }
  }

  &__nav {
    display: block;
    padding: 16px 0 32px 20px;

    @media screen and (min-width: $bp-desktop) {
      gap: 240px;
      padding: 0;
      display: flex;
      align-items: center;
    }
  }

  &__logo {
    width: 57px;
    height: 30px;

    @media screen and (min-width: $bp-desktop) {
      width: 74px;
      height: 42px;
    }
  }
  &__menu {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 56px;
    }
  }

  &__icon-container {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 32px;
      align-items: center;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--color-brand-dark);
    &:hover {
      color: var(--color-brand-light);
      transition: color 0.2s;
    }
  }

  &__icons {
    fill: var(--color-brand-dark);
    gap: 32px;
    display: flex;

    &:hover {
      fill: var(--color-light);
      transition: fill 0.2s;
    }
  }

  &__burger {
    height: 24px;
    width: 24px;
    padding: 0;
    background-color: transparent;
    border: none;
    fill: var(--color-light);
    position: absolute;
    top: 16px;
    right: 16px;

    &:hover {
      fill: var(--color-brand-light);
    }

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
